* {
    padding: 0;
    margin: 0;
}

.form-inline{
  display: inline-block;
}

.img-product{
  height: 300px;
}

@media(min-width: 768px) {
    .field-label-responsive {
      padding-top: .5rem;
      text-align: right;
    }
  }