* {
    padding: 0;
    margin: 0;
}

.form-inline{
  display: inline-block;
}

.img-product{
  width: 300px;
  display: block;
  margin: auto;
}

@media(min-width: 768px) {
    .field-label-responsive {
      padding-top: .5rem;
      text-align: right;
    }
  }